doctype html
html
  head
    title= title
  body
    h1= title

    form(action="/update-cobj" method="POST")
      label(for="pet_name") Name:
      input(type="text" name="pet_name" required)
      br

      label(for="breed") Breed:
      input(type="text" name="breed")
      br

      label(for="age") Age:
      input(type="text" name="age")
      br

      button(type="submit") Submit

    a(href='/pets') Return to Pets List